files:
  "/etc/nginx/conf.d/https.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      server {
          listen 443 ssl;
          server_name backend.prathameshakole.com;

          ssl_certificate /etc/pki/tls/certs/server.crt;
          ssl_certificate_key /etc/pki/tls/private/server.key;

          location / {
              proxy_pass http://localhost:8080;
              proxy_http_version 1.1;
              proxy_set_header Upgrade $http_upgrade;
              proxy_set_header Connection 'upgrade';
              proxy_set_header Host $host;
              proxy_cache_bypass $http_upgrade;
              proxy_set_header X-Real-IP $remote_addr;
              proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
              proxy_set_header X-Forwarded-Proto https;
          }
      }

      server {
          listen 80;
          server_name backend.prathameshakole.com;
          return 301 https://$host$request_uri;
      }

container_commands:
  01_setup_ssl:
    command: |
      mkdir -p /etc/pki/tls/certs /etc/pki/tls/private
      cp /etc/ssl/certs/elasticbeanstalk.crt /etc/pki/tls/certs/server.crt
      cp /etc/ssl/private/elasticbeanstalk.key /etc/pki/tls/private/server.key
    
    01_fix_nginx_hash:
    command: |
      echo "types_hash_max_size 2048;" >> /etc/nginx/nginx.conf
      sudo systemctl restart nginx
